@import "/src/styles/variables.scss";

.header {
    position: relative;
    width: 80%;
    margin-left: 180px;
    margin-right: 2rem;

    &-title {
        color: #fff;
        margin-top: 2px;
        padding: 10px;
    }

    

    &-profile {
        position: absolute;
        right: 20px;
        top: 0;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
}
