@import "/src/styles/variables.scss";

.header {
    position: relative;
    width: 80%;
    margin-left: 180px;
    margin-right: 2rem;
    z-index: 1;

    &-title {
        color: #fff;
        margin-top: 2px;
        padding: 10px;
    }

    

    &-profile {
        position: absolute;
        right: 20px;
        top: 5px;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    &-btn {
        border: none;
        outline: none;
        cursor: pointer;
        background-color: $purple;
        width: 200px;
        height: 40px;
        color: #fff;
        border-radius: 20px;
        transition: .4s ease-in-out;

        &:hover {
            background-color: $pink;
        }
    }

    &-title {
        font-size: 20px;
        font-weight: bold;
    }


    &-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;

        &-input {
            border: none;
            outline: none;
            width: 250px;
            height: 50px;
            background-color: $grey;
            border-radius: 20px;
            padding-left: 10px;
            color: #fff;
            font-size: 21px;
            transition: .4s ease-in-out;

            &:focus, &:hover {
                background-color: $pink;
            }
        }

        &-error {
            color: #fff;
            font-size: 23px;
        }

        
    }


}
