@import "/src/styles/variables.scss";

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    border-right: 1px solid $grey;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100px;
    
    
    &-item {
        cursor: pointer;
        &:hover {
            filter: invert(54%) sepia(71%) saturate(1885%) hue-rotate(291deg) brightness(96%) contrast(92%);
        }
    }

}

